---
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Plumber",
                "name": "ACME Plumbing",
                "areaServed": "Austin, TX",
                "telephone": "+15125551234",
                "url": "https://acmeplumbing.com"
            }
        </script>
    </head>
    <body class="font-sans text-gray-800">
        <slot />
    </body>
</html>
